

				<div class="main-navigation navbar-collapse collapse">
					<!-- start: MAIN MENU TOGGLER BUTTON -->
					<div class="navigation-toggler">
						<i class="clip-chevron-left"></i>
						<i class="clip-chevron-right"></i>
					</div>
					<!-- end: MAIN MENU TOGGLER BUTTON -->
					<!-- start: MAIN NAVIGATION MENU -->
					<ul class="main-navigation-menu">
						<li class="<%= @dashboard_active %>">
							<a href="/admins/dashboard"><i class="clip-bars"></i>
								<span class="title"> <%= session[:user_type] %> Dashboard </span><span class="<%= @dashboard_selected %>"></span>
							</a>
						</li>
						<li class="<%= @contracts_active %>">
							<a href="/admins/contracts"><i class="clip-libreoffice"></i>
								<span class="title"> Contracts </span>
							</a>
							
						</li>
						<li class="<%= @properties_active %>">
							<a href="/admins/properties"><i class="fa fa-home"></i>
								<span class="title"> Properties </span>
							</a>
						</li>
						<li class="<%= @landlords_active %>">
							<a href="/admins/landlords"><i class="clip-users"></i>
								<span class="title"> Landlords </span>
							</a>
						</li>
						<li class="<%= @tenants_active %>">
							<a href="/admins/tenants"><i class="clip-users"></i>
								<span class="title"> Tenants </span>
							</a>
						</li>
						<li class="<%= @rentpayments_active %>">
							<a href="/admins/rentpayments"><i class="fa fa-money"></i>
								<span class="title"> Rent Payments </span>
							</a>
						</li>
						<li class="<%= @subscriptionpayments_active %>">
							<a href="/admins/subscriptionpayments"><i class="fa fa-gbp"></i>
								<span class="title"> Subscription Payments </span>
							</a>
						</li>
						
					</ul>
					<!-- end: MAIN NAVIGATION MENU -->
				</div>