<% 

	@pageheader = "CONTRACTS"
	@pageheader_subtitle = "Manage Contracts"

	@new_contract_selected = "selected"
	@contracts_active = "active"
	
%>

	<div class="row">
	

		<div class="col-sm-12">

			<div class="panel panel-default" style="position: static; zoom: 1;">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					CONTRACTS
					<div class="panel-tools">
						
					</div>
				</div>
				<div class="panel-body" style="display: block;">

					<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
						<thead>
							
							<td>Property </td>
							<td>Room #</td>
							<td>Amount</td>

								 <td>Tenant </td>
								 <td> Landlord </td>


							<td>Date </td>
							<td>Active </td>

							<td align="center" width="20%">Actions</td>

						</thead>

						
						<% @contracts.each do |cont| %>
							<tr>
								<td>
									<%= cont.property.name_of_building %>
								</td>
								<td>
									<%= cont.room_no %>
								</td>
								<td>
									<%= cont.rental_amount %>
								</td>
								<td>
									<%= cont.tenant.last_name + ', ' + cont.tenant.first_name %>
								</td>
								<td>
									<%= cont.landlord.last_name + ', ' + cont.landlord.first_name %>
								</td>
								<td>
									<%= cont.start_date %> to <%= cont.end_date %>
								</td>
								<td>
									<%= cont.active %>
								</td>
								
								<td align="center">
												<a class="btn btn-primary" href="/admins/contracts/<%= cont.id %>/view"><i class="fa fa-eye fa fa-white"></i></a> 
												
								</td>
							</tr>
						<% end %>

					</table>

					
				</div>

			</div>
		</div>

		

		

	</div>
	<div class="row">

		<div class="col-sm-8">
			
		</div>
		
	</div>


	<script src="/assets/backendassets/plugins/flot/jquery.flot.js"></script>
		<script src="/assets/backendassets/plugins/flot/jquery.flot.pie.js"></script>
		<script src="/assets/backendassets/plugins/flot/jquery.flot.resize.min.js"></script>
		<script src="/assets/backendassets/plugins/jquery.sparkline/jquery.sparkline.js"></script>
		<script src="/assets/backendassets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
		<script src="/assets/backendassets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
		<script src="/assets/backendassets/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
		<script src="/assets/backendassets/js/index.js"></script>
		<script>
		</script>

	<script>
		
		$("#edit_landlord_1").validate();
	
	</script>


<link rel="stylesheet" type="text/css" href="/assets/plugins/select2/select2.css">
		<link rel="stylesheet" href="/assets/plugins/DataTables/media/css/DT_bootstrap.css">
		<script type="text/javascript" src="/assets/backendassets/plugins/select2/select2.min.js"></script>
		<script type="text/javascript" src="/assets/backendassets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
		<script type="text/javascript" src="/assets/backendassets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
		<script src="/assets/backendassets/js/table-data.js"></script>
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
				TableData.init();
			});
		</script>
	
