<% 

	@pageheader = "Admin Dashboard"
	@pageheader_subtitle = "Administrative Control Panel"

	@profile_selected = "selected"
	@dashboard_active = "active"
	
%>

<div class="row">
	<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-stats"></i>
									User Sign Ups Per Day (Last 60 Days)
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										
									</div>
								</div>
								<div class="panel-body">
									<div class="flot-medium-container">
										<div id="placeholder" class="plot" style="width:100%;height:360px;">
									</div>
								</div>
							</div>
	</div>
							
</div>
</DIV>

<div class="row">
<div class="col-sm-12">
		<div class="row space12">
								<ul class="mini-stats col-sm-12">
									<li class="col-sm-3">
										
										
									</li>
									<li class="col-sm-3">
										
										<div class="values">
											<strong><%= @landlords %></strong>
											<a href="/admins/landlords">Landlord Accounts</a>
										</div>
									</li>
									<li class="col-sm-3">
										
										<div class="values">
											<strong><%= @tenants %></strong>
											<a href="/admins/tenants">Tenant Accounts</a>
										</div>
									</li>

									<li class="col-sm-3">
										
										
									</li>

									
								
								</ul>
							</div>
						</div>

</div>
<div class="row">
<div class="col-sm-12">
		<div class="row space12">
								<ul class="mini-stats col-sm-12">

									<li class="col-sm-3">
										
										<div class="values">
											<strong><%= @nosubscription %></strong>
											<a href="/admins/nosubscription">Trial Expired But Did Not Subscribe</a>
										</div>
									</li>

									<li class="col-sm-3">
										
										<div class="values">
											<strong><%= @didntlogin60 %></strong>
											<a href="/admins/tenants60">Tenants that didn't log-in for the last 60 Days </a>
										</div>
									</li>

									<li class="col-sm-3">
										
										<div class="values">
											<strong><%= @noproperty %></strong>
											<a href="/admins/noproperty">Landlords With No Properties</a>
										</div>
									</li>
									<li class="col-sm-3">
										
										<div class="values">
											<strong><%= @noconnection %></strong>
											<a href="/admins/noconnection">Tenant With No Connection</a>
										</div>
									</li>
								
								</ul>
							</div>
						</div>

</div>

<div class="row">
<div class="col-sm-12">
		<div class="row space12">
								<ul class="mini-stats col-sm-12">
									<li class="col-sm-3">
										
										<div class="values">
											<strong><%= @trial %></strong>
											<a href="/admins/Trial/landlords">Trial Accounts</a>
										</div>
									</li>
									<li class="col-sm-3">
										
										<div class="values">
											<strong><%= @standard %></strong>
											<a href="/admins/Standard/landlords">Standard Accounts</a>
										</div>
									</li>
									<li class="col-sm-3">
										
										<div class="values">
											<strong><%= @pro %></strong>
											<a href="/admins/Pro/landlords">Pro Accounts</a>
										</div>
									</li>
									<li class="col-sm-3">
										
										<div class="values">
											<strong><%= @enterprise %></strong>
											<a href="/admins/Enterprise/landlords">Enterprise Accounts</a>
										</div>
									</li>
								</ul>
							</div>
						</div>

</div>

<hr />


<div class="row">
	<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-stats"></i>
									Rent Payments (Last 60 Days)
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										
									</div>
								</div>
								<div class="panel-body">
									<div class="flot-medium-container">
										<div id="placeholder1" class="plot" style="width:100%;height:360px;">
										</div>
									</div>
								</div>
							</div>
							
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-stats"></i>
									Subscription Payments (Last 60 Days)
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										
									</div>
								</div>
								<div class="panel-body">
									<div class="flot-medium-container">
										<div id="placeholder2" class="plot" style="width:100%;height:360px;">
										</div>
									</div>
								</div>
							</div>
							
	</div>
</div>


<script src="/assets/backendassets/plugins/flot/jquery.flot.js"></script>
<script src="/assets/backendassets/plugins/flot/jquery.flot.pie.js"></script>
<script src="/assets/backendassets/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="/assets/backendassets/plugins/flot/jquery.flot.categories.js"></script>
<script src="/assets/backendassets/plugins/jquery.sparkline/jquery.sparkline.js"></script>
<script src="/assets/backendassets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="/assets/backendassets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/backendassets/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
<script src="/assets/backendassets/js/index.js"></script>

<script>
			
			jQuery(document).ready(function() {
				
				Main.init();
				Index.init();

				var data = [ 

					<% @signups.each do |signup| %>


					["<%= signup[0] %>", <%= signup[1] %>], 
					<% end %>
				];

				jQuery.plot("#placeholder", [ data ], {
					series: {
						bars: {
							show: true,
							barWidth: 0.6,
							align: "center"
						}
					},
					xaxis: {
						mode: "categories",
						tickLength: 0
					}
				});

				var data1 = [ 

					<% @rentpayments.each do |signup| %>


					["<%= signup[0] %>", <%= signup[1] %>], 
					<% end %>
				];

				jQuery.plot("#placeholder1", [ data1 ], {
					series: {
						bars: {
							show: true,
							barWidth: 0.6,
							align: "center"
						}
					},
					xaxis: {
						mode: "categories",
						tickLength: 0
					}
				});


				var data1 = [ 

					<% @subscriptionpayments.each do |signup| %>


					["<%= signup[0] %>", <%= signup[1] %>], 
					<% end %>
				];

				jQuery.plot("#placeholder2", [ data1 ], {
					series: {
						bars: {
							show: true,
							barWidth: 0.6,
							align: "center"
						}
					},
					xaxis: {
						mode: "categories",
						tickLength: 0
					}
				});

				

			});
</script>

