<% 

	if @type.nil?
		@pageheader = "LANDLORDS LIST " 
	else 
		@pageheader = "LANDLORD LIST - " + @type 	
	end 
		
	@pageheader_subtitle = "List of Registered Landlords"

	@profile_selected = "selected"
	@landlords_active = "active"
	
%>


	<div class="row">
		

		<div class="col-sm-12">

			<div class="panel panel-default" style="position: static; zoom: 1;">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					LANDLORD LIST
					<div class="panel-tools">
						
					</div>
				</div>
				<div class="panel-body" style="display: block;">

					<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
						<thead>
							
							<td>Name</td>
							<td>Subscription Type</td>
							<td>Username / Email</td>
							<td># of Properties</td>
							<td>Last Sign In</td>
							<td align="center" width="20%">Actions</td>

						</thead>

						
						<% @landlords.each do |landlord| %>
							<tr>
								<td>
									  <%= image_tag landlord.avatar_url, width: "20", height: "20" %>
									  <%= landlord.first_name %> <%= landlord.last_name %>
								</td>
								<td> 
									<%= landlord.subscription_type %>
								</td>
								<td> 
									<%= landlord.user.email %>
								</td>
								<td><%= landlord.property.count %></td>
								<td><%= time_ago_in_words(landlord.user.last_sign_in_at) %> ago</td>

								<td align="center">
												<a class="btn btn-primary" href="/admins/landlords/<%= landlord.id %>/view">
													<i class="fa fa-eye fa fa-white"></i>
												</a>

											
								</td>
							</tr>
						<% end %>

					</table>

					
				</div>

			</div>
		</div>

		

		

	</div>
	<div class="row">

		<div class="col-sm-12">
			<hr />
			<div style="margin-bottom: 30px;">
			</div>

		</div>
		
	</div>


		<link rel="stylesheet" type="text/css" href="/assets/plugins/select2/select2.css">
		<link rel="stylesheet" href="/assets/plugins/DataTables/media/css/DT_bootstrap.css">
		<script type="text/javascript" src="/assets/backendassets/plugins/select2/select2.min.js"></script>
		<script type="text/javascript" src="/assets/backendassets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
		<script type="text/javascript" src="/assets/backendassets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
		<script src="/assets/backendassets/js/table-data.js"></script>

		<script>
			jQuery(document).ready(function() {
				Main.init();
								TableData.init();

			});
		</script>

	<script>
		
		$("#edit_landlord_1").validate();
	
	</script>

	

