<% 

	
	@pageheader = "LANDLORDS LIST " 
	
		
	@pageheader_subtitle = "Landlords With No Properties"

	@profile_selected = "selected"
	@landlords_active = "active"
	
%>


	<div class="row">
		

		<div class="col-sm-12">

			<div class="panel panel-default" style="position: static; zoom: 1;">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					LANDLORD LIST
					<div class="panel-tools">
						
					</div>
				</div>
				<div class="panel-body" style="display: block;">

					<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
						<thead>
							
							<td>Name</td>
							<td>Subscription Type</td>
							<td>Username / Email</td>
							<td>Last Sign In</td>
							<td align="center" width="20%">Actions</td>

						</thead>

						
						<% @landlords.each do |landlord| %>
							<tr>
								<td>
									  <%= image_tag landlord.avatar_url, width: "20", height: "20" %>
									  <%= landlord.first_name %> <%= landlord.last_name %>
								</td>
								<td> 
									<%= landlord.subscription_type %>
								</td>
								<td> 
									<%= landlord.user.email %>
								</td>
								<td><%= time_ago_in_words(landlord.user.last_sign_in_at) %> ago</td>

								<td align="center">
												<a class="btn btn-primary" href="/admins/landlords/<%= landlord.id %>/view">
													<i class="fa fa-eye fa fa-white"></i>
												</a>

											
								</td>
							</tr>
						<% end %>

					</table>

					
				</div>

			</div>
		</div>

		

		

	</div>
	<div class="row">

		<div class="col-sm-12">
			<hr />
			<div style="margin-bottom: 30px;">
			</div>

		</div>
		
	</div>


	<script src="/assets/backendassets/plugins/flot/jquery.flot.js"></script>
		<script src="/assets/backendassets/plugins/flot/jquery.flot.pie.js"></script>
		<script src="/assets/backendassets/plugins/flot/jquery.flot.resize.min.js"></script>
		<script src="/assets/backendassets/plugins/jquery.sparkline/jquery.sparkline.js"></script>
		<script src="/assets/backendassets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
		<script src="/assets/backendassets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
		<script src="/assets/backendassets/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
		<script src="/assets/backendassets/js/index.js"></script>
		<script>
			jQuery(document).ready(function() {
				Main.init();
				Index.init();
			});
		</script>

	<script>
		
		$("#edit_landlord_1").validate();
	
	</script>

	

