<% 

	@pageheader = "Rent Payments"
	@pageheader_subtitle = "List of Rent Payments Processed"

	@profile_selected = "selected"
	@rentpayments_active = "active"
	
%>

	<div class="row">
		

		<div class="col-sm-12">

			<div class="panel panel-default" style="position: static; zoom: 1;">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					PAYMENT LIST
					<div class="panel-tools">
						
					</div>
				</div>
				<div class="panel-body" style="display: block;">

					<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
						<thead>
							
							<td>Tenant</td>
							<td>Landlord</td>
							<td>Property</td>
							<td>Date</td>
							<td>Amount</td>
							

						</thead>

						
						<% @rentpayments.each do |rent| %>
							<tr>
								<td>
									  <%= image_tag rent.tenant.avatar_url, width: "20", height: "20" %>
									  <a href="/admins/tenants/<%= rent.tenant.id%>/view">
									  	<%= rent.tenant.first_name %> <%= rent.tenant.last_name %> / <%= rent.tenant.user.email %>
									  </a>
								</td>
								<td>
									  <%= image_tag rent.landlord.avatar_url, width: "20", height: "20" %>
									  <a href="/admins/landlords/<%= rent.landlord.id%>/view">

									  	<%= rent.landlord.first_name %> <%= rent.landlord.last_name %> / <%= rent.landlord.user.email %>
									  </a>
								</td>
								<td>
									  <a href="/admins/properties/<%= rent.property.id%>/view">

										<%= rent.property.name_of_building %>

									  </a>	
								</td>
								<td>
									<%= rent.created_at %>
								</td>
								<td>
									<%= rent.landlord.currency.upcase %> <%= rent.amount %>
								</td>
								
							</tr>
						<% end %>

					</table>

					
				</div>

			</div>
		</div>

		

		

	</div>
	<div class="row">

		<div class="col-sm-12">
			<hr />
			<div style="margin-bottom: 30px;">
			</div>

		</div>
		
	</div>


		<link rel="stylesheet" type="text/css" href="/assets/plugins/select2/select2.css">
		<link rel="stylesheet" href="/assets/plugins/DataTables/media/css/DT_bootstrap.css">
		<script type="text/javascript" src="/assets/backendassets/plugins/select2/select2.min.js"></script>
		<script type="text/javascript" src="/assets/backendassets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
		<script type="text/javascript" src="/assets/backendassets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
		<script src="/assets/backendassets/js/table-data.js"></script>

		<script>
			jQuery(document).ready(function() {
				Main.init();
								TableData.init();

			});
		</script>

	<script>
		
		$("#edit_landlord_1").validate();
	
	</script>


