<div class="singleheader">
            <div class="container">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="single-title">
                        <h3>Features</h3>
                        <h4>Reasons why you will like Lestrini</h4>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="breadcrumb-container">
                        <ul class="breadcrumb">
                            <li class="active">An Easy and Efficient System for Landlords and Tenants </li>
                        </ul>
                    </div>
                </div>
            </div>  
            <div class="shadow"></div>
        </div>
<section class="colon9">

		<div class="container bgmaker">
        
        	<div class="general">
                <div class="big-message text-center">
                    <h2>GenieLets <span>features</span> to make your life <span>better</span> </h2>
                    <p> GenieLets have tons of features we created specifically for the day to day life of Landlords and Tenants and aims to make their relationship and business much more efficient and easy. Here are the major ones:</p>
                </div><!-- end big message -->
            </div>
                        
			<div class="general">
                <div class="col-lg-4 col-md-4 col-sm-6 effect-slide-left in" data-effect="slide-left" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                 <div class="general-widget">

                        <h2 class="general-title" style="text-align: center;">
                        <span>Payment Management</span>
                        </h2>
                        <p>
                            <%= image_tag "calculator.png"%>
                            <ul>
                                <li>Tenants can make payments easily using Paypal</li>
                                <li>Landlords can easily track who have paid already or those haven't paid yet</li>
                                <li>Landlords and Tenants can see a calendar of payment schedules</li>

                            </ul>
                        </p>
                        
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-4 col-sm-6 effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="general-widget">
                        <h2 class="general-title" style="text-align: center;">
                        <span>Financial Reporting</span>
                        </h2>
                        <p>
                            <%= image_tag "financial.png"%>
                            <ul>
                                <li>Landlords can see an overview of the financial performance of their business</li>
                                <li>Tenants can also view their payment history</li>
                                <li>Various other reports</li>
                            </ul>
                        </p>
                        
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6 effect-slide-right in" data-effect="slide-right" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="general-widget">
                        <h2 class="general-title" style="text-align: center;">
                        <span>Mobile Apps</span>
                        </h2>
                        <p>
                            <%= image_tag "mobile.png"%>

                            <ul>
                                <li>Supports IOS and Android</li>
                                <li>Optimized for the latest versions of the Mobile OS</li>
                                <li>Tenants can pay rent comfortably whereever they are </li>
                                <li>Landlords can manage their tenant info using their phones</li>
                            </ul>
                        </p>
                        
                    </div>
                </div>
            </div><!-- general-->
            
            <div class="clearfix"></div>
            
            <div class="general">
                <div class="col-lg-4 col-md-4 col-sm-6 effect-slide-left in" data-effect="slide-left" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                 <div class="general-widget">

                        <h2 class="general-title" style="text-align: center;">
                        <span>For Tenants</span>
                        </h2>
                        <p>
                            <%= image_tag "ftenants.png"%>
                            <ul>
                                <li>Tenants can make payments easily using Paypal</li>
                                <li>Set payment method</li>
                                <li>Setup recurring payments</li>

                            </ul>
                        </p>
                        
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-4 col-sm-6 effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="general-widget">
                        <h2 class="general-title" style="text-align: center;">
                        <span>For Landlords</span>
                        </h2>
                        <p>
                            <%= image_tag "flandlords.png"%>
                            <ul>
                                <li>Landlords can add multiple contracts</li>
                                <li>View property history</li>
                                <li>Set Property info</li>
                            </ul>
                        </p>
                        
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6 effect-slide-right in" data-effect="slide-right" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="general-widget">
                        <h2 class="general-title" style="text-align: center;">
                        <span>Web App</span>
                        </h2>
                        <p>
                            <%= image_tag "fweb.png"%>

                            <ul>
                                <li>Manage your account on any computer</li>
                                <li>Sign Up for account</li>
                                <li>Flexible and Familiar UI</li>
                                <li>Manage multiple accounts</li>
                            </ul>
                        </p>
                        
                    </div>
                </div>
            </div><!-- general-->
            
				
        </div><!-- container -->
        
        <div class="divider"></div>

            
        	
            
        <div class="divider"></div>
        
    </section>