<section class="colon2">
    	<div class="container">
        	<div class="message text-center">
                <h2>GenieLets offers a simple yet genius way to manage rent payments online </h2>
                <p>GenieLets have a lot of <a href="/features">features</a> to make that possible,<br /> and if you have an IOS or Android mobile device, you can <a href="/download">download</a> our app.<br /> Our <a href="/help-centre">Help Centre</a> provides answers to your questions regarding our service!</p>
            </div>
        	<div class="col-lg-4 col-md-4 col-sm-4" data-effect="slide-bottom">
                <div class="box">
                     <header>
                            <%= image_tag "landlord.png"%>                   
                    
                        <h3>Genius for Landlords</h3>
                    </header>
                    <p>Whether you manage a whole portfolio of properties or simply a few, collecting the rent on time is a headache that all landlords share. The innovative, new GenieLets web based rent collection system is the solution all landlords with busy lifestyles have been waiting for. </p>
                  
                    <p>
                    GenieLets is ideal for UK private and social landlords, estate/lettings agencies and commercial rental management companies.
                    </p>
                    <a class="readmore" href="/users/sign_up?type=landlord">Sign Up Now as a Landlord</a>
                </div>
            </div>
        	<div class="col-lg-4 col-md-4 col-sm-4" data-effect="slide-bottom">
				<a href="#">
                	 <%= image_tag "01_imac.png" %>
                </a>
            </div>
        	<div class="col-lg-4 col-md-4 col-sm-4" data-effect="slide-bottom">
                <div class="box">
                    <header>
                                            <%= image_tag "tenants.png"%>

                        <h3>Genius for Tenants</h3>
                    </header>
                    <p>Paying your rent has never been so easy with the innovative, new GenieLets web based rent collection system. You can quickly pay your rent from the comfort of home or on the go, with a simple click. 
That means no more hassle in terms of writing and positing cheques. The system accepts all major credit and debit cards too. 
Keep in control of your payments and tenancy contract to keep the landlord smiling, whilst saving your own precious time!
 </p>
                  

                    <a class="readmore" href="/users/sign_up?type=tenant">Sign Up Now as a Tenant</a>
                </div>
            </div>
		</div>
    </section>

    <section class="colon4">
    	<div class="container">
			<div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            	<div class="stat">
                    <span class="stat-count">1M+</span>
                    <p class="stat-detail">Rent's Paid</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            	<div class="stat">
                    <span class="stat-count">523</span>
                    <p class="stat-detail">Satisfied Landlords</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            	<div class="stat">
                    <span class="stat-count">798</span>
                    <p class="stat-detail">Happy Tenants</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            	<div class="stat">
                    <span class="stat-count">1320</span>
                    <p class="stat-detail">Contracts Served</p>
                </div>
            </div>
        </div>
    </section>