<div class="singleheader">
            <div class="container">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="single-title">
                        <h3>Pricing</h3>
                        <h4>Our Different Offerings</h4>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="breadcrumb-container">
                        <ul class="breadcrumb">
                            <li class="active">Our offers are very affordable!</li>
                        </ul>
                    </div>
                </div>
            </div>  
            <div class="shadow"></div>
        </div>
<div id="content" class="single col-lg-12 col-md-12 col-sm-12">
			
            <div class="col-lg-12 col-md-12 col-sm-12">
            
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="dm-pricing-table">
                                <div class="dm-pricing">
                                
                                    <div class="dm-pricing-header">
                                        <h5>Standard</h5>
                                        <div class="dm-pricing-cost"><strike>£3</strike></div>
                                        <div class="dm-pricing-per">per month</div>
                                    </div>
                                    
                                    <div class="dm-pricing-content">
                                        <ul>
                                            <li>5 Contracts</li>
                                            <li>30 Reminders / Emails (Days)</li>
                                            <li>30 Mobile App Link (Days)</li>
                                            <li>Dashboard</li>
                                            <li>Unlimited Tenants</li>
                                            <li>Unlimited Properties</li>
                                            <li>Unlimited Tenant History</li>
                                            <li>Unlimited Property History</li>
                                        </ul>
                                    </div>
                                    
                                    <div class="dm-pricing-button">
                                        <a href="/users/sign_up?type=landlord&package=standard" class="btn btn-general" target="_self" rel="nofollow">
                                            <span class="btn btn-primary">Sign Up</span>
                                        </a>
                                   </div>
                                   
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="dm-pricing-table">
                                <div class="dm-pricing">
                                
                                    <div class="dm-pricing-header">
                                        <h5>Pro</h5>
                                        <div class="dm-pricing-cost"><strike>£5</strike></div>
                                        <div class="dm-pricing-per">per month</div>
                                    </div>
                                    
                                    <div class="dm-pricing-content">
                                        <ul>
                                            <li>6-10 Contracts</li>
                                            <li>30 Reminders / Emails (Days)</li>
                                            <li>30 Mobile App Link (Days)</li>
                                            <li>Dashboard</li>
                                            <li>Unlimited Tenants</li>
                                            <li>Unlimited Properties</li>
                                            <li>Unlimited Tenant History</li>
                                            <li>Unlimited Property History</li>
                                        </ul>
                                    </div>
                                    
                                    <div class="dm-pricing-button">
                                        <a href="/users/sign_up?type=landlord&package=pro" class="btn btn-general" target="_self" rel="nofollow">
                                            <span class="btn btn-primary">Sign Up</span>
                                        </a>
                                   </div>
                                   
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="dm-pricing-table">
                                <div class="dm-pricing">
                                
                                    <div class="dm-pricing-header green">
                                        <h5>Enterprise</h5>
                                        <div class="dm-pricing-cost"><strike>£10</strike></div>
                                        <div class="dm-pricing-per">per month</div>
                                    </div>
                                    
                                    <div class="dm-pricing-content">
                                        <ul>
                                            <li>11-unlimited Contracts</li>
                                            <li>30 Reminders / Emails (Days)</li>
                                            <li>30 Mobile App Link (Days)</li>
                                            <li>Dashboard</li>
                                            <li>Unlimited Tenants</li>
                                            <li>Unlimited Properties</li>
                                            <li>Unlimited Tenant History</li>
                                            <li>Unlimited Property History</li>
                                        </ul>
                                    </div>
                                    
                                    <div class="dm-pricing-button">
                                        <a href="/users/sign_up?type=landlord&package=enterprise" class="btn btn-general" target="_self" rel="nofollow">
                                            <span class="btn btn-primary">Sign Up</span>
                                        </a>
                                   </div>
                                   
                                </div>
                            </div>
                        </div>
						
                        
			</div>
            
            </div>