

				<div class="main-navigation navbar-collapse collapse">
					<!-- start: MAIN MENU TOGGLER BUTTON -->
					<div class="navigation-toggler">
						<i class="clip-chevron-left"></i>
						<i class="clip-chevron-right"></i>
					</div>
					<!-- end: MAIN MENU TOGGLER BUTTON -->
					<!-- start: MAIN NAVIGATION MENU -->
					<ul class="main-navigation-menu">
						<li class="<%= @dashboard_active %>">
							<a href="/tenant/dashboard"><i class="clip-bars"></i>
								<span class="title"> <%= session[:user_type] %> Dashboard </span><span class="<%= @dashboard_selected %>"></span>
							</a>
						</li>
							<li class="<%= @connection_requests_active %>">
							<a href="javascript:void(0)"><i class="clip-users"></i>
								<span class="title"> Landlords </span><i class="icon-arrow"></i>
								<span class="selected"></span>
							</a>
							<ul class="sub-menu">
									<li>
									<a href="/tenant/connection_requests/">
										<span class="title"> Connection Requests </span><span class="<%= @connection_requests_selected %>"></span>
									</a>
								</li>
								<li>
									<a href="/connections/active">
										<span class="title"> Active  </span>
									</a>
								</li>
							</ul>
						</li>
						
						<li class="<%= @new_contract_active %>">
							<a href="javascript:void(0)"><i class="clip-libreoffice"></i>
								<span class="title"> Contracts </span><i class="icon-arrow"></i>
								<span class="selected"></span>
							</a>
							<ul class="sub-menu">
									<li>
									<a href="/contracts/list">
										<span class="title"> Active </span>
										<span class="<%= @new_contract_selected %>"></span>
									</a>
								</li>
								<li>
									<a href="/contracts/inactive">
										<span class="title"> Finished / Inactive  </span>
										<span class="<%= @new_contract_selected %>"></span>
									</a>
								</li>
							</ul>
						</li>
						
						
						<li class="<%= @profile_active %>">
							<a href="javascript:void(0)"><i class="clip-user-2"></i>
								<span class="title">Profile Settings</span><i class="icon-arrow"></i>
								<span class="selected"></span>
							</a>
							<ul class="sub-menu">
								<li >
									<a href="/tenant/profile">
										<span class="title">Edit Profile</span><span class="<%= @profile_selected %>"></span>
									</a>
								</li>
								
							</ul>
						</li>
						
					</ul>
					<!-- end: MAIN NAVIGATION MENU -->
				</div>