	<hr />
						<div class="form-group">

							Subscribe Now To Get The Full Benefits of Letsrini!<br /><br />
							<div class="h4">
							
							<table>
								<tr>
									<td>
								<%= form_for @payment, url: {controller: "backend", action: "charges"} do |f| %>
									
									 <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
									  data-name="Genielets Subscription",
							          data-key="<%= ENV['PUBLISHABLE_KEY'] %>",
							          data-image= "/assets/logopayment.png",
							          data-label= "Standard",
									  data-description="Subscription Type: Standard",
									  data-currency="GBP",
									  data-email="<%= current_user.email %>",
							          data-amount="300"></script>



									<input type="hidden" name="hmt" value="300" />							
								<% end %>
							</td>

							<td>


								<%= form_for @payment, url: {controller: "backend", action: "charges"} do |f| %>
									
									 <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							          data-key="<%= ENV['PUBLISHABLE_KEY'] %>",
							          data-name="Genielets Subscription",
							          data-image= "/assets/logopayment.png",
							          data-label= "Pro",
									  data-description="Subscription Type: Pro",
									  data-currency="GBP",
									  data-email="<%= current_user.email %>",
							          data-amount="500"></script>



									<input type="hidden" name="hmt" value="500" />							
								<% end %>
</td><td>

								<%= form_for @payment, url: {controller: "backend", action: "charges"} do |f| %>
									
									 <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							          data-key="<%= ENV['PUBLISHABLE_KEY'] %>",
							          data-image= "/assets/logopayment.png",
							          data-name="Genielets Subscription",
							          data-label= "Enterprise",
									  data-description="Subscription Type: Enterprise",
									  data-currency="GBP",
									  data-email="<%= current_user.email %>",
							          data-amount="1000"></script>



									<input type="hidden" name="hmt" value="1000" />							
								<% end %>
							</td>
								</tr>
							</table>		

							</div>
						</div>