<% 

	@pageheader = "Charges"
	@pageheader_subtitle = "Subscription Payments"

	
%>

You have succesfully subscribed to Genielets <%= @type %> Package! <br />
Your card is charged £ <%= @amount %> via Stripe.<br />
<br />
Thank you!, Your profile is now updated. Click the button below to go back to your Updated Account Summary Page!<br /><br />
<p><a href="/backend/account_summary" class="btn btn-primary">Account Summary</a></p>


