<% 

	@pageheader = "Landlord Dashboard"
	@pageheader_subtitle = "overview and stats for " + @current_month
	@dashboard_selected = "selected"
	@dashboard_active = "active"
	
%>
	<div class="row">
						<div class="col-sm-12">
						
							<div class="row space12">
							
								<ul class="mini-stats col-sm-12">
									
									<li class="col-sm-3">
										
										<div class="values">
											<strong><a href="/properties/list"><%= @property_count %></strong></a>
											<span class="lightlabels">Total Properties</span>
										</div>
									</li>

									<li class="col-sm-3">
										
										<div class="values">
											<strong><a href="/contracts/list"><%= @active_contract_count %></a></strong>
											<span class="lightlabels">Active Contracts</span>
										</div>
									</li>

									<li class="col-sm-3">
										
										<div class="values">
											<strong><a href="/payment/paid_current_month"><%= @months_payment %></a></strong>
											<span class="lightlabels"># 0f Payments Collected for the Month</span>
										</div>
									</li>

									<li class="col-sm-3">
										
										<div class="values">
											<strong><a href="/payment/unpaid_current_month"><%= @months_unpaid %></a></strong>
											<span class="lightlabels"># of Payment Uncollected for the Month</span>
										</div>
									</li>

								</ul>
							</div>
						</div>
						
	</div>	


	<div class="row">
						<div class="col-md-9">
							<!-- start: CATEGORIES PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="fa fa-external-link-square"></i>
									Rent Collection Trend
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="fa fa-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="fa fa-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-expand" href="#">
											<i class="fa fa-resize-full"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="panel-body">
									<div class="flot-small-container">
										<strong>Paid Rents ( As of <%= @as_of %> ) </strong><br />
										<div id="placeholder" class="plot" style="width:100%;height:300px;"></div>
									</div>
									<div class="flot-small-container">
										<br /><br /><strong>Unpaid Rents ( As of <%= @as_of %> ) </strong><br />
										<div id="placeholderunpaid" class="plot" style="width:100%;height:200px;"></div>
									</div>
									<em>Note: Computed based on <b>Date Paid</b>, if a rent for March is paid advanced on January, it will be computed as earning on January because it was collected on January</em>
								</div>
							</div>
							<!-- end: CATEGORIES PANEL -->
						</div>
						<div class="col-md-3">
							<!-- start: CATEGORIES PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="fa fa-external-link-square"></i>
									Totals (<%= @current_year %>)
									<div class="panel-tools">
										
									</div>
								</div>
								<div class="panel-body">
									
									<table class="table table-striped table-hover" id="sample-table-1" style="width: 100%" >
										<thead>
											<td>Month</td>
											<td align="right">Paid</td>
											<td align="right">Unpaid</td>
											
										
										</thead>
										<tbody>
										

											
	<tr><td>Jan</td><td align="right"><a href="/payment/1/paid"> <%= @sales_jan %></a>   </td><td align="right"><a href="/payment/1/unpaid"> <%= @unpaid_jan %></a></td></tr>
	<tr><td>Feb</td><td  align="right"><a href="/payment/2/paid"><%= @sales_feb %></a>   </td><td align="right"><a href="/payment/2/unpaid"> <%= @unpaid_feb %></a></td></tr>
	<tr><td>Mar</td><td  align="right"><a href="/payment/3/paid"><%= @sales_mar %></a>   </td><td align="right"><a href="/payment/3/unpaid"> <%= @unpaid_mar %></a></td></tr>
	<tr><td>Apr</td><td  align="right"><a href="/payment/4/paid"><%= @sales_apr %></a>   </td><td align="right"><a href="/payment/4/unpaid"> <%= @unpaid_apr %></a></td></tr>
	<tr><td>May</td><td  align="right"><a href="/payment/5/paid"><%= @sales_may %></a>   </td><td align="right"><a href="/payment/5/unpaid"> <%= @unpaid_may %></a></td></tr>
	<tr><td>Jun</td><td  align="right"><a href="/payment/6/paid"><%= @sales_jun %></a>   </td><td align="right"><a href="/payment/6/unpaid"> <%= @unpaid_jun %></a></td></tr>
	<tr><td>Jul</td><td  align="right"><a href="/payment/7/paid"><%= @sales_jul %></a>   </td><td align="right"><a href="/payment/7/unpaid"> <%= @unpaid_jul %></a></td></tr>
	<tr><td>Aug</td><td  align="right"><a href="/payment/8/paid"><%= @sales_aug %></a>   </td><td align="right"><a href="/payment/8/unpaid"> <%= @unpaid_aug %></a></td></tr>
	<tr><td>Sep</td><td  align="right"><a href="/payment/9/paid"><%= @sales_sep %></a>   </td><td align="right"><a href="/payment/9/unpaid"> <%= @unpaid_sep %></a></td></tr>
	<tr><td>Oct</td><td  align="right"><a href="/payment/10/paid"><%= @sales_oct %></a>  </td><td align="right"><a href="/payment/10/unpaid"> <%= @unpaid_oct %></a></td></tr>
	<tr><td>Nov</td><td  align="right"><a href="/payment/11/paid"><%= @sales_nov %></a>  </td><td align="right"><a href="/payment/11/unpaid"> <%= @unpaid_nov %></a></td></tr>
	<tr><td>Dec</td><td  align="right"><a href="/payment/12/paid"><%= @sales_dec %></a>  </td><td align="right"><a href="/payment/12/unpaid"> <%= @unpaid_dec %></a></td></tr>

									</tbody>

									</table>
								
									<hr />
										<p align="right">
										<strong style="font-size: 1.4em;"><%= @currency %> <%= @paid_total %></strong><br />	
										<span class="lightlabels">Total Paid Rents</span><br /><br />

										<strong style="font-size: 1.4em;"><%= @currency %> <%= @unpaid_total %></strong><br />
										<span class="lightlabels">Total Unpaid Rents</span>
										</p>
								</div>
							</div>
							<!-- end: CATEGORIES PANEL -->
						</div>
						
	</div>

	
	<!-- Begin Rents -->
	<div class="row"> 
	
		
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-users-2"></i>
									Paid Rents This Month
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="fa fa-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="fa fa-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="panel-body panel-scroll ps-container" style="height:300px">
									<table class="table table-striped table-hover" id="sample-table-1">
										<thead>
											<td>Tenant</td>
											
											<td>Due Date</td>
											<td>Date Paid</td>
											<td>Amount</td>
											<td>Status</td>
											<td align="center"></td>
										</thead>
										<tbody>
										<% @total = 0 %>	
										<% @months_payment_list.each do |payment| %>

											<tr>
												<td>
													<%= image_tag payment.tenant.avatar_url, width: "20", height: "20" %>
													<a href ="/tenants/<%= payment.tenant.id %>/view"><%= payment.tenant.last_name + ', ' +payment.tenant.first_name %></a>
												</td>
												<td>
													<%= payment.due_date %>
												</td>
												<td>
													<%= payment.date_paid %>
												</td>
												<td>
													<%= payment.amount %>
													<% @total += payment.amount %>
												</td>
												<td>
													<%= payment.status %>
												</td>
												<td><a class="btn btn-primary" href="/payment/<%= payment.id %>/edit"><i class="fa fa-pencil fa fa-white"></i></a></td>
												
											</tr>
										<% end %>
										</tbody>
									</table>
									<hr />
									<p align="right">
										<strong style="font-size: 1.4em;"><%= @currency %> <%= @total %></strong>
										<br />
										<span class="lightlabels">Total Paid Rents for <%= @current_month %></span>
										</p>
								<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -87px; width: 536px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 90px; right: 3px; height: 300px;"><div class="ps-scrollbar-y" style="top: 70px; height: 230px;"></div></div></div>
							</div>
						</div>

							<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-users-2"></i>
									Unpaid Rents This Month
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="fa fa-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="fa fa-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="panel-body panel-scroll ps-container" style="height:300px">
									<table class="table table-striped table-hover" id="sample-table-1">
										<thead>
											<td>Tenant</td>
											
											<td>Due Date</td>
											<td>Amount</td>
											<td>Status</td>
											<td align="center"></td>
										</thead>
										<tbody>
										<% @total_unpaid = 0 %>	
										<% @months_unpaid_list.each do |payment| %>

											<tr>
												<td>
													<%= image_tag payment.tenant.avatar_url, width: "20", height: "20" %>
													<a href ="/tenants/<%= payment.tenant.id %>/view"><%= payment.tenant.last_name + ', ' +payment.tenant.first_name %></a>
												</td>
												<td>
													<%= payment.due_date %>
												</td>
												
												<td>
													<%= payment.amount %>
													<% @total_unpaid += payment.amount %>	
												</td>
												<td>
													<%= payment.status %>
												</td>
												<td><a class="btn btn-primary" href="/payment/<%= payment.id %>/edit"><i class="fa fa-pencil fa fa-white"></i></a></td>
												
											</tr>
										<% end %>
										</tbody>
									</table>
									<hr />
									<p align="right">
										<strong style="font-size: 1.4em;"><%= @currency %> <%= @total_unpaid %></strong>
										<br />
										<span class="lightlabels">Total Unpaid Rents for <%= @current_month %></span>
										</p>
								<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -87px; width: 536px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 90px; right: 3px; height: 300px;"><div class="ps-scrollbar-y" style="top: 70px; height: 230px;"></div></div></div>
							</div>
						</div>
						
					



	</div>
	<!-- END Rents -->

	<!-- Begin Contracts -->
	<div class="row"> 
	
		
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-users-2"></i>
									New Contracts Starting this Month
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="fa fa-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="fa fa-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="panel-body panel-scroll ps-container" style="height:300px">
									<table class="table table-striped table-hover" id="sample-table-1">
										<thead>
											<td>Tenant</td>
											
											<td>Property / Room #</td>
											<td>Rent</td>
											
											<td align="center"></td>
										</thead>
										<tbody>
										<% @total = 0 %>	
										<% @contracts_starting.each do |cont| %>

											<tr>
												<td>
													<%= image_tag cont.tenant.avatar_url, width: "20", height: "20" %>
													<a href ="/tenants/<%= cont.tenant.id %>/view"><%= cont.tenant.last_name + ', ' +cont.tenant.first_name %></a>
												</td>
												<td>
													<a href="/properties/<%= cont.property.id %>/edit"><%= cont.property.name_of_building %></a> / <%= cont.room_no %> 
												</td>
												<td>
													<%= cont.rental_amount %>
												</td>
												<td><a class="btn btn-primary" href="/contract/<%= cont.id %>/edit"><i class="fa fa-pencil fa fa-white"></i></a></td>
													<% @total += 1 %>
												
											</tr>
										<% end %>
										</tbody>
									</table>
									<hr />
									<p align="right">
										<strong style="font-size: 1.4em;"><%= @total %></strong>
										<br />
										<span class="lightlabels">Total Contracts Starting on <%= @current_month %></span>
										</p>
								<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -87px; width: 536px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 90px; right: 3px; height: 300px;"><div class="ps-scrollbar-y" style="top: 70px; height: 230px;"></div></div></div>
							</div>
						</div>

							<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-users-2"></i>
									Contracts Ending this Month
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="fa fa-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="fa fa-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="panel-body panel-scroll ps-container" style="height:300px">
									<table class="table table-striped table-hover" id="sample-table-1">
										<thead>
											<td>Tenant</td>
											
											<td>Property / Room #</td>
											<td>Rent</td>
											
											<td align="center"></td>
										</thead>
										<tbody>
										<% @total = 0 %>	
										<% @contracts_ending.each do |cont| %>

											<tr>
												<td>
													<%= image_tag cont.tenant.avatar_url, width: "20", height: "20" %>
													<a href ="/tenants/<%= cont.tenant.id %>/view"><%= cont.tenant.last_name + ', ' +cont.tenant.first_name %></a>
												</td>
												<td>
													<a href="/properties/<%= cont.property.id %>/edit"><%= cont.property.name_of_building %></a> / <%= cont.room_no %> 
												</td>
												<td>
													<%= cont.rental_amount %>
												</td>
												<td><a class="btn btn-primary" href="/contract/<%= cont.id %>/edit"><i class="fa fa-pencil fa fa-white"></i></a></td>
													<% @total += 1 %>
												
											</tr>
										<% end %>
										</tbody>
									</table>
									<hr />
									<p align="right">
										<strong style="font-size: 1.4em;"><%= @total %></strong>
										<br />
										<span class="lightlabels">Total Contracts Ending on <%= @current_month %></span>
									</p>
								<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -87px; width: 536px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 90px; right: 3px; height: 300px;"><div class="ps-scrollbar-y" style="top: 70px; height: 230px;"></div></div></div>
							</div>
						</div>
						
					



	</div>
	<!-- END Contracts -->
					
	
		<script src="/assets/backendassets/plugins/flot/jquery.flot.js"></script>
		<script src="/assets/backendassets/plugins/flot/jquery.flot.pie.js"></script>
		<script src="/assets/backendassets/plugins/flot/jquery.flot.resize.min.js"></script>
		<script src="/assets/backendassets/plugins/flot/jquery.flot.categories.js"></script>
		<script src="/assets/backendassets/plugins/jquery.sparkline/jquery.sparkline.js"></script>
		<script src="/assets/backendassets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
		<script src="/assets/backendassets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
		<script src="/assets/backendassets/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
		<script src="/assets/backendassets/js/index.js"></script>
		
		<script>
			
			jQuery(document).ready(function() {
				
				Main.init();
				Index.init();

				var data = [ 
					["Jan", <%= @sales_jan %>], 
					["Feb", <%= @sales_feb %>], 
					["Mar", <%= @sales_mar %>], 
					["Apr", <%= @sales_apr %>], 
					["May", <%= @sales_may %>], 
					["Jun", <%= @sales_jun %>], 
					["Jul", <%= @sales_jul %>], 
					["Aug", <%= @sales_aug %>], 
					["Sep", <%= @sales_sep %>], 
					["Oct", <%= @sales_oct %>], 
					["Nov", <%= @sales_nov %>], 
					["Dec", <%= @sales_dec %>]  
				];

				jQuery.plot("#placeholder", [ data ], {
					series: {
						bars: {
							show: true,
							barWidth: 0.6,
							align: "center"
						}
					},
					xaxis: {
						mode: "categories",
						tickLength: 0
					}
				});

				var dataunpaid = [ 
					["Jan", <%= @unpaid_jan %>], 
					["Feb", <%= @unpaid_feb %>], 
					["Mar", <%= @unpaid_mar %>], 
					["Apr", <%= @unpaid_apr %>], 
					["May", <%= @unpaid_may %>], 
					["Jun", <%= @unpaid_jun %>], 
					["Jul", <%= @unpaid_jul %>], 
					["Aug", <%= @unpaid_aug %>], 
					["Sep", <%= @unpaid_sep %>], 
					["Oct", <%= @unpaid_oct %>], 
					["Nov", <%= @unpaid_nov %>], 
					["Dec", <%= @unpaid_dec %>]  
				];

				jQuery.plot("#placeholderunpaid", [ dataunpaid ], {
					series: {
						bars: {
							show: true,
							barWidth: 0.6,
							align: "center"
						}
					},
					xaxis: {
						mode: "categories",
						tickLength: 0
					}
				});

			});
		</script>

		<style>
			.lightlabels {
				color: gray;
			}
		</style>

	