<% 

	@pageheader = "Renew"
	@pageheader_subtitle = "Your Subscription Has Expired!"

%>

<div class="row">
	<div class="col-sm-6">
		<strong>Your subscription has expired, please renew below to continue enjoying the benefits of Genielets!</strong><br /><br />
		<div class="form-group">
						Subscription Type:<br />
						<div class="h4"><%= @landlord.subscription.last.subscription_type %></div>
					</div>

					<div class="form-group">
						Date From:<br />
						<div class="h4"><%= @landlord.subscription.last.date_from %></div>
					</div>

					<div class="form-group">
						Date To:<br />
						<div class="h4"><%= @landlord.subscription.last.date_to %></div>
					</div>

					<%= render 'subscription_payment_form' %>


	</div>
</div>