<% 

	@pageheader = "Subscribe"
	@pageheader_subtitle = "Pay for your Subscription!"

%>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
				
					<%= render 'subscription_payment_form' %>


	</div>
</div>