<% 

	@pageheader = "Tenant Dashboard"
	@pageheader_subtitle = "overview and stats for " + @current_month
	@dashboard_selected = "selected"
	@dashboard_active = "active"
	
%>
	<!-- Start Statistics -->
	<div class="row">
		
		<div class="col-sm-12">
						
							<div class="row space12">
							
								<ul class="mini-stats col-sm-12">
									
									<li class="col-sm-4">
										
										<div class="values">
											<strong><a href="/payment/dues"><%= @rent_payment_needed %></strong></a>
											<span class="lightlabels">Rent Payments Due</span>
										</div>

									</li>

									<li class="col-sm-4">
										
										<div class="values">
											<strong><a href="/payment/paid"><%= @rent_payments_made %></a></strong>
											<span class="lightlabels">Rent Payments Made</span>
										</div>

									</li>

									<li class="col-sm-4">
										
										<div class="values">
											<strong><a href="/payments/late"><%= @late_payments_made %></a></strong>
											<span class="lightlabels">Late Payments Made</span>
										</div>

									</li>

									

								</ul>
							</div>
						</div>
						
		
	</div>
	<!-- End Statistics-->

	<!-- Start Graphs -->
	<div class="row">
						<div class="col-md-9">
							<!-- start: CATEGORIES PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="fa fa-external-link-square"></i>
									Rent Collection Trend
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="fa fa-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="fa fa-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-expand" href="#">
											<i class="fa fa-resize-full"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="panel-body">
									<div class="flot-small-container">
										<strong>On Time VS Late Payments ( As of <%= @as_of %> ) </strong><br />
										<div id="placeholder" class="plot" style="width:100%;height:90%"></div>
									</div>
									
									
								</div>
							</div>
							<!-- end: CATEGORIES PANEL -->
						</div>
						<div class="col-md-3">
							<!-- start: CATEGORIES PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="fa fa-external-link-square"></i>
									Payment Statistics
									<div class="panel-tools">
										
									</div>
								</div>
								<div class="panel-body">
									
										<p align="right">
										<strong style="font-size: 1.4em;"><%= @rent_payments_made - @late_payments_made %></strong><br />	
										<span class="lightlabels">On Time Payments</span><br /><br />

										<strong style="font-size: 1.4em;"><%=  @late_payments_made %></strong><br />
										<span class="lightlabels">Late Payments</span>
										</p>
								</div>
							</div>
							<!-- end: CATEGORIES PANEL -->
						</div>
						
	</div>
	<!-- End Graphs -->

	<!-- Begin Rents -->
	<div class="row"> 
	
		
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-users-2"></i>
									Connection Requests
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="fa fa-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="fa fa-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="panel-body panel-scroll ps-container" style="height:300px">

									<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
						<thead>
							
							<td>Landlord Name</td>
							<td align="center" width="40%">Actions</td>

						</thead>

						
						<% @connections.each do |conn| %>
							<tr>
								<td>
									<%= conn.landlord.first_name %> <%= conn.landlord.last_name %>
								</td>
								<td align="center">
												<a class="btn btn-primary" href="/connections/<%= conn.id %>/approve"><i class="glyphicon glyphicon-thumbs-up"></i>
													Approve</a> 
												<a class="btn btn-bricky" href="/connections/<%= conn.id %>/delete"><i class="glyphicon glyphicon-remove-circle"></i></a> 
								</td>
							</tr>
						<% end %>

					</table>

					<em>Approving a connection request will allow a Landord to see your profile info and enable them to make a Contract with you.</em>

								</div>

							</div>
						</div>

							<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-users-2"></i>
									Unpaid Rents This Month
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="fa fa-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="fa fa-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="panel-body panel-scroll ps-container" style="height:300px">
									<table class="table table-striped table-hover" id="sample-table-1">
										<thead>
											<td>Landlord</td>
											
											<td>Due Date</td>
											<td>Amount</td>
											<td>Status</td>
											<td align="center"></td>
										</thead>
										<tbody>
										<% @total_unpaid = 0 %>	
										<% @rent_payment.each do |payment| %>

											<tr>
												<td>
													<%= image_tag payment.tenant.avatar_url, width: "20", height: "20" %>
													<a href ="/landlord/<%= payment.landlord.id %>/view"><%= payment.landlord.last_name + ', ' +payment.landlord.first_name %></a>
												</td>
												<td>
													<%= payment.due_date %>
												</td>
												
												<td>
													<%= payment.amount %>
													<% @total_unpaid += payment.amount %>	
												</td>
												<td>
													<%= payment.status %>
												</td>
												<td><a class="btn btn-primary" href="/payment/<%= payment.id %>/edit"><i class="fa fa-pencil fa fa-white"></i></a></td>
												
											</tr>
										<% end %>
										</tbody>
									</table>
									<hr />
									<p align="right">
										<strong style="font-size: 1.4em;"><%= @currency %> <%= @total_unpaid %></strong>
										<br />
										<span class="lightlabels">Total Unpaid Rents for <%= @current_month %></span>
										</p>
								<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -87px; width: 536px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 90px; right: 3px; height: 300px;"><div class="ps-scrollbar-y" style="top: 70px; height: 230px;"></div></div></div>
							</div>
						</div>
						
					



	</div>
	<!-- END Rents -->

		<script src="/assets/backendassets/plugins/flot/jquery.flot.js"></script>
		<script src="/assets/backendassets/plugins/flot/jquery.flot.pie.js"></script>
		<script src="/assets/backendassets/plugins/flot/jquery.flot.resize.min.js"></script>
		<script src="/assets/backendassets/plugins/jquery.sparkline/jquery.sparkline.js"></script>
		<script src="/assets/backendassets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
		<script src="/assets/backendassets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
		<script src="/assets/backendassets/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
		<script src="/assets/backendassets/js/index.js"></script>
		<script>
			jQuery(document).ready(function() {
				Main.init();
				Index.init();

				var data = [];

				data[0] = {
					label: "On Time Payment" ,
					data: <%= @rent_payments_made - @late_payments_made %>
				}


				data[1] = {
					label: "Late Payment " ,
					data: <%= @late_payments_made %>
				}
				
				jQuery.plot("#placeholder", data, {
					series: {
						pie: { 
							show: true,

						}
					},
				    legend: {
				        show: false
				    }
				});
			});
		</script>

		<style>
			.lightlabels {
				color: gray;
			}
		</style>



