<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3 Version: 1.0 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title><%= @pageheader %> - GenieLets</title>
		<%= favicon_link_tag 'favicon.ico' %>

		<!-- start: META -->
		<meta charset="utf-8" />


		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />

  		<%= csrf_meta_tags %>

		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link href="/assets/backendassets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="/assets/backendassets/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/backendassets/fonts/style.css">
		<link rel="stylesheet" href="/assets/backendassets/css/main.css">
		<link rel="stylesheet" href="/assets/backendassets/css/main-responsive.css">
		<link rel="stylesheet" href="/assets/backendassets/plugins/iCheck/skins/all.css">
		<link rel="stylesheet" href="/assets/backendassets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
		<link rel="stylesheet" href="/assets/backendassets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">

		<script src="/assets/backendassets/js/jquery.min.js"></script>


		<!--<link rel="stylesheet/less" type="text/css" href="/assets/backendassets/css/styles.less">-->
		<link rel="stylesheet" href="/assets/backendassets/css/theme_light.css" type="text/css" id="skin_color">
		<!--[if IE 7]>
		<link rel="stylesheet" href="/assets/backendassets/plugins/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="stylesheet" href="/assets/backendassets/plugins/fullcalendar/fullcalendar/fullcalendar.css">
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="shortcut icon" href="favicon.ico" />

		<style>
		
		</style>

	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: HEADER -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<!-- start: TOP NAVIGATION CONTAINER -->
			<div class="container">
				<div class="navbar-header">
					<!-- start: RESPONSIVE MENU TOGGLER -->
					<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
						<span class="clip-list-2"></span>
					</button>
					<!-- end: RESPONSIVE MENU TOGGLER -->
					<!-- start: LOGO -->
                    <a class="navbar-brand" href="/backend/dashboard"> <%= image_tag "logo-backend.png" %></a>
					<!-- end: LOGO -->
				</div>
				<div class="navbar-tools">
					<!-- start: TOP NAVIGATION MENU -->
					<ul class="nav navbar-right">
						
						<!-- start: NOTIFICATION DROPDOWN -->
						<li class="dropdown">
							<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
								<i class="clip-notification-2"></i>
								<span class="badge"> 0</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li>
									<span class="dropdown-menu-title"> You have 0 new notifications</span>
								</li>
								<li>
									<div class="drop-down-wrapper">
										<ul>
											<li>
												<a href="javascript:void(0)">
													<span class="label label-primary"><i class="fa fa-user"></i></span>
													<span class="message"> Registered to GenieLets</span>
													<span class="time"> a few hours ago</span>
												</a>
											</li>
										
										</ul>
									</div>
								</li>
								<li class="view-all">
									<a href="javascript:void(0)">
										See all notifications <i class="fa fa-arrow-circle-o-right"></i>
									</a>
								</li>
							</ul>
						</li>
						<!-- end: NOTIFICATION DROPDOWN -->
					
						<!-- start: USER DROPDOWN -->
						<li class="dropdown current-user">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="username">
									<strong>
										<%= session[:user_type] %> Account:

										<% if session[:user_type] == 'Landlord' %>
											(<%= session[:subscription_type]	%>)	
										<% end %>

									</strong> 
									<%= current_user.email %> <i class="clip-chevron-down"></i></a></span>

							</a>
							<ul class="dropdown-menu">
								
									<% if session[:user_type] == 'Tenant' %>
										<li>
											<a href='/tenant/profile'>My Profile</a>
										</li>
										<li class="divider"></li>
										<li>
								
											<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
									
										</li>
								
									<% end %>
									
									<% if session[:user_type] == 'Landlord' %>
										<li>
											<a href='/backend/account_summary'>Account Summary</a>
										</li>
										<li>
											<a href='/backend/profile'>Edit Profile</a>
										</li>
										<li class="divider"></li>
										<li>
								
											<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
									
										</li>
									<% end %>

							</ul>
						</li>
						<!-- end: USER DROPDOWN -->
					</ul>
					<!-- end: TOP NAVIGATION MENU -->
				</div>
			</div>
			<!-- end: TOP NAVIGATION CONTAINER -->
		</div>
		<!-- end: HEADER -->
		<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			<div class="navbar-content">
				<!-- start: SIDEBAR -->
				
				<% if session[:user_type] == 'Landlord' %>
					<%= render 'sidebar_landlord' %>
				<% end %>

				<% if session[:user_type] == 'Tenant' %>
					<%= render 'sidebar_tenant' %>
				<% end %>


				<!-- end: SIDEBAR -->
			</div>
			<!-- start: PAGE -->
			<div class="main-content">
				<!-- start: PANEL CONFIGURATION MODAL FORM -->
				<div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title">Panel Configuration</h4>
							</div>
							<div class="modal-body">
								Here will be a configuration form
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Close
								</button>
								<button type="button" class="btn btn-primary">
									Save changes
								</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- end: SPANEL CONFIGURATION MODAL FORM -->
				<div class="container">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">
							
							<!-- start: PAGE TITLE & BREADCRUMB -->
							<ol class="breadcrumb">
								<li>
									<i class="clip-home-3"></i>
									<a href="/backend/dashboard">
										Home
									</a>
								</li>
								<li class="active">
									<%= @pageheader %>
								</li>
								<li class="search-box">
									
								</li>
							</ol>
							<div class="page-header">
								<h1><%= @pageheader %> <small><%= @pageheader_subtitle %> </small></h1>
							</div>
							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
					<% flash.each do |name, message| %>
						<div class="alert alert-success">
										<button data-dismiss="alert" class="close">
											×
										</button>
										<i class="fa fa-check-circle"></i>
										 <%= message %>
						</div>

					<% end %>
					
					
					<%= yield %>
					
					
				</div>
			</div>
			<!-- end: PAGE -->
		</div>
		<!-- end: MAIN CONTAINER -->
		<!-- start: FOOTER -->
		<div class="footer clearfix">
			<div class="footer-inner">
				&copy; 2014 <a href="letsrini.com">GenieLets</a> 
			</div>
			<div class="footer-items">
				<span class="go-top"><i class="clip-chevron-up"></i></span>
			</div>
		</div>
		<!-- end: FOOTER -->
		<div id="event-management" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Event Management</h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-light-grey">
							Close
						</button>
						<button type="button" class="btn btn-danger remove-event no-display">
							<i class='fa fa-trash-o'></i> Delete Event
						</button>
						<button type='submit' class='btn btn-success save-event'>
							<i class='fa fa-check'></i> Save
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="/assets/backendassets/plugins/respond.min.js"></script>
		<script src="/assets/backendassets/plugins/excanvas.min.js"></script>
		<![endif]-->

		<script src="/assets/backendassets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>

		<script src="/assets/backendassets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/backendassets/plugins/blockUI/jquery.blockUI.js"></script>
		<script src="/assets/backendassets/plugins/iCheck/jquery.icheck.min.js"></script>
		<script src="/assets/backendassets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
		<script src="/assets/backendassets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
		<script src="/assets/backendassets/plugins/less/less-1.5.0.min.js"></script>
		<script src="/assets/backendassets/plugins/jquery-cookie/jquery.cookie.js"></script>
		<script src="/assets/backendassets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
		<script src="/assets/backendassets/js/main.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

	</body>
	<!-- end: BODY -->

	<link rel="stylesheet" href="/assets/backendassets/css/custom.css">


</html>




