<!DOCTYPE html>
<html class="no-js" >
<head>
  <title><%= @title %> - GenieLets</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico' %>


  
</head>
<body>
	<div id="wrapper">
		
		<div class="topbar">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="tagline">Call us : +90 532 02 02 // Email us : hello@genielets.com</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="dm-social">

                    	<div style="font-size: 11px;font-weight: normal;margin: 0;padding: 7px 15px 0 ">
                      		
                    		<% if user_signed_in? %>
								You are currently signed in as 
								
								<% if session[:user_type] == 'Landlord' %>
									<a href='/backend/dashboard'>
								<% end if %>

								<% if session[:user_type] == 'Tenant' %>
									<a href='/tenant/dashboard'>
								<% end if %>

								<%= current_user.email %></a>, not you?
								<%= link_to "Sign Out", destroy_user_session_path, :method => :get %>
								
							<% else %>
								Sign up for a <strong>Trial Account</strong> <a href="/users/sign_up?type=landlord">as a Landlord</a> or <a href="/users/sign_up?type=tenant">as a Tenant</a>, Have an account already? <a href="/users/sign_in">Login Here</a>
							<% end%>
                      		
                      	</div>	

                    </ul><!-- End Social --> 
                </div>
            </div>
        </div><!-- /topbar -->

        <header class="header-wrapper">
			<div class="container">
	            	<div class="col-lg-2 col-md-2 col-sm-2">
	                    <a class="cssLogo" href="/home"> <%= image_tag "logo.png" %></a>
	                </div>
	            	<div class="col-lg-10 col-md-10 col-sm-12">
	                    <nav>
	                        <ul id="jetmenu" class="jetmenu">
	                           
	                           <% if @title == "Home" %>
	                           	 <li class="active">
	                           <% else %>
	                           	 <li> 	
	                           <% end%>	 	
	                            	<a href="/home">Home</a>
	                            </li>
	                            
	                             <% if @title == "About" %>
	                           	 <li class="active">
	                           <% else %>
	                           	 <li> 	
	                           <% end%>	
	                            	<a href="/about">About</a>
	                            </li>
	                            
	                             <% if @title == "Features" %>
	                           	 <li class="active">
	                           <% else %>
	                           	 <li> 	
	                           <% end%>	
	                            	<a href="/features">Features</a>
	                            </li>
	                           
	                             <% if @title == "Pricing" %>
	                           	 <li class="active">
	                           <% else %>
	                           	 <li> 	
	                           <% end%>	
	                            	<a href="/pricing">Pricing</a>
	                            </li>
								
	                             <% if @title == "Download" %>
	                           	 <li class="active">
	                           <% else %>
	                           	 <li> 	
	                           <% end%>	
	                            	<a href="/download">Download</a>
	                            </li>
								
	                             <% if @title == "Contact Us" %>
	                           	 <li class="active">
	                           <% else %>
	                           	 <li> 	
	                           <% end%>	
	                              <a href="/contact-us">Contact Us</a>
	                            </li>
	                           
	                            <% if @title == "Help Centre" %>
	                           	 <li class="right active">
	                           <% else %>
	                           	 <li class="right"> 	
	                           <% end%>	
	                           	
	                               <a href="/help-centre">Help Centre</a>
	                            
	                            </li>	
	                        </ul>
	                    </nav><!-- /nav -->
	            	</div><!-- /col10 -->
			</div><!-- /container -->
	    </header><!-- /header wrapper -->

		<%= yield %>


		<footer class="footer-wrapper">
			


	    	<div class="container">
	        	<div class="col-lg-3 col-md-3 col-sm-6">
	            	<div class="widget">
						<h2 class="general-title">
							<span>About GenieLets</span>
						</h2>
	                    <p style="font-size: 1.2em;">GenieLets's mission is to provide the quickest and easiest way for tenants to pay their rent and for landlords to receive it direct through their Android or IOS devices. </p> 
	                    <a class="readmore" style="padding-left: 0px;" href="/about">Learn More About Us</a>
					</div>
	            </div>

	            <div class="col-lg-3 col-md-3 col-sm-6">
	            	<div class="widget">
						<h2 class="general-title">
							<span>Contact Details</span>
						</h2>
	                      <ul class="contact-details">
	                      	<li>hello@genielets.com
	                      	<li>+90 532 02 02	
	                      </ul>

	                      Social Networks
	                      <ul>
				        	<li>facebook.com/genielets
				        	<li>twitter.com/genielets
				        	<li>plus.google.com/genielets

	                      </ul>
					</div>
	           	 </div>

	        	<div class="col-lg-3 col-md-3 col-sm-6">
	            	<div class="widget">
						<h2 class="general-title">
							<span>For Landlords</span>
						</h2>
						<p>Some of the genielets features for landlords:</p>
	                      <ul class="contact-details">
	                      	<li>Manage your contracts
	                      	<li>Accept Payments	
	                      	<li>Performance reports
	                      </ul>
	                      	                    <a class="btn btn-primary btn-sm" href="/features">Read More Features...</a>

	                   
					</div>
	            </div>
	        	<div class="col-lg-3 col-md-3 col-sm-6">
	            	<div class="widget">
						<h2 class="general-title">
							<span>For Tenants</span>
						</h2>
						<p>For tenants, here are the benefits of using genielets:</p>
	                      <ul class="contact-details">
	                      	<li>Pay your rent easily using Paypal
	                      	<li>Notify when a payment is due
	                      	<li>Track your payment history
	                      	<li>	
	                      </ul>
							                    <a class="btn btn-primary btn-sm" href="/features">Read More Features...</a>

	                       
					  </div>
	            </div>
	        	
			</div>

			<div class="container" style="text-align: center;margin-bottom: 20px;margin-top: 20px;">
				<%= image_tag "brand.png" %>
			</div>
			
		</footer>
	    
		<div class="copyright-wrapper">
	    	<div class="container">
	        	<div class="col-lg-6 col-md-6 col-sm-6">
	            	<span class="copyright">
	                    &copy; 2014 <a href="genielets.com">GenieLets</a> Lovingly Crafted by Arthur Abogadil for Serdefa Consulting
	                </span>
	            </div>
	        	<div class="col-lg-6 col-md-6 col-sm-6">
	                <nav>
	                    <ul class="footer-menu">
	                  		<li><a href="/about" title="#">About</a></li>
	                  		<li><a href="/features" title="#">Features</a></li>
	                  		<li><a href="/pricing" title="#">Pricing</a></li>
	                  		<li><a href="/download" title="#">Download</a></li>
	                  		<li><a href="/help-centre" title="#">Help Centre</a></li>
	                    </ul>
	                </nav>
	            </div>
			</div>
		</div>
		<div class="dmtop">Scroll to Top</div>

	</div>
</body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49230365-1', 'genielets.com');
  ga('send', 'pageview');

</script>